<html>
    <head>
        
    </head>
    <body>
        <table width="800">


              {% for id in id_list %}

                    
                    
                    <tr width="30%">
                        <td >
                            <img src='/static/results_brain/{{ id }}/gt.png'>
                        </td>
     
                        <td width="70%">
                <video id="replay-video" autoplay controls muted preload playsinline width="100%">
                  <source src="/static/results_brain/{{ id }}/video.mp4" type="video/mp4">
                </video>
                            
                        </td>
                      

                        
                    </tr>
        
        
        
                    
              {% endfor %}

            
            

            
        </table>

        
    </body>
    
</html>